.modal-body{
    width: 516px;
    height: 252px;
    background: rgb(216, 87, 64);
    border-radius: 5px;
    color: white;
}
.modal-header{
    width: 516px;
    height: 68px;
    background:rgb(198, 80, 59);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}